# Xcode
.DS_Store
*.swp
*.lock
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.xccheckout
*.xccheckout
xcuserdata/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Build generated
*.app/
*.zip
generate_icons.sh
